.btn{
    background-color: rgb(122, 0, 0);
    color: white;
    font-weight: bolder;
}
.card:hover{
    box-shadow: 3px 5px 10px  rgb(233, 19, 19);
    transition: 0.5s;
}
.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
     line-clamp: 3; 
    overflow: hidden;
    
}